@media screen and (min-width: 768px) {
	.container {
		max-width: 768px;
	}
	.page-header {
		max-width: 100%;
		height: 72px;
		padding: 24px 16px;
	}
	.header-container {
		
		display: flex;
		flex-direction: row;
		
		margin: 0;
		
		
	}
	.header-nav {
		display: flex;
		flex-direction: row;
	}
	.header-list {
		display: flex;
		flex-direction: row;
		
	    gap: 40px;
	}
	.header-link {
		font-weight: 500;
		font-size: 16px;
		line-height: 1.5;
	}
	.header-link:active {
		color: #404bbf;
	}
	.header-link.active::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 4px;
		left: 0px;
		top: 44px;
		background: #404bbf;
		border-radius: 2px;
		bottom: 0;
	}
	.adress {
		display: block;
	}
	.adress-list {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}
	.link-mail {
		font-weight: 400;
		font-size: 12px;
		line-height: 1.17;
	}
	.link-tel {
		font-weight: 400;
		color: #434455;
		font-size: 12px;
		line-height: 1.17;
	}
	.web-logo {
		text-transform: uppercase;
		text-decoration: none;
		color: #4d5ae5;
		font-family: Raleway, sans-serif;
		font-size: 18px;
		line-height: 1.33;
		transition: color 250ms linear;
		animation: cubic-bezier(0.4, 0, 0.2, 1);
	}
	.web-logo:hover,
	.web-logo:focus {
		color: #404bbf;
	}
	.web-logo:active {
		color: #404bbf;
	}
	.logo {
		text-transform: uppercase;
		text-decoration: none;
		color: #2e2f42;
		font-family: Raleway, sans-serif;
		font-size: 18px;
		line-height: 1.33;
		transition: color 250ms linear;
		animation: cubic-bezier(0.4, 0, 0.2, 1);
	}
	.logo:hover,
	.logo:focus {
		color: #404bbf;
	}
	.logo:active {
		color: #404bbf;
	}
	.header-nav-wrap {
		display: none;
	}
	.header-mobile-btn {
		display: none;
	}
	.mobile-menu-close {
		display: none;
	}
	.mobile-adress {
		display: none;
	}
	.header-menu-social-list {
		display: none;
	}
	.mobile-logo {
		display: none;
	}
	.mobile-web-logo {
		display: none;
	}
	.mobile-header-nav {
		display: none;
	}
	
	.hero {
		max-width: 100%;
		padding: 112px 0;
		background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
			url(../images/header-desktop-1x.jpg);
	}
	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		.hero {
			background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/header-tab-2x.jpg);
		}
	}
	.hero-container {
		flex-direction: column;
		padding-left: 0;
		padding-right: 0;
	}
	.hero-title {
		color: #ffffff;
		font-size: 56px;
		line-height: 1.07;
		width: 496px;
		margin-bottom: 36px;
	}
	.skills {
		width: 100%;
		padding: 96px 0;
	}
	.skills-container {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		gap: 72px 24px;
	}
	.skills-list {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		gap: 72px 24px;
	}
	.skills-title {
		text-align: left;
		font-weight: 700;
		font-size: 36px;
		line-height: 1.1;
	}
	.skills-item {
		display: flex;
		flex-direction: column;
		width: calc((100% - 24px) / 2);
	}
	.skills-social-list {
		display: none;
	}
	.what-are-we-doing {
		display: none;
	}
	.our-team {
		width: 100%;
		padding: 96px 108px;
	}
	.our-team-container {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		gap: 72px;
	}
	.our-team-list {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		gap: 64px 24px;
	}
	.our-team-item {
		width: calc((100% - 24px) / 2);
		
	}
	.customers {
		max-width: 100%;
	}
	.customers-list {
		flex-direction: column;
		flex-wrap: wrap;
		gap: 24px 72px;
	}
	.customers-social-item {
		max-width: 168px;
	}
	.footer {
		max-width: 100%;
		padding: 96px 0px;
	}
	.footer-container {
		flex-direction: column;
		flex-wrap: wrap;
	}
	.footer-form-label {
		width: 453px;
	}
	.footer-form-input {
		width: 264px;
	}
	.modal {
		width: 408px;
		padding: 24px;
	}
}
