@media screen and (min-width 768px) {
    .container {
		max-width: 768px;
	}
	.hero {
		max-width: 100%;
		padding: 112px 0;
	}
	.hero-container {
		flex-direction: column;
		padding-left: 0;
		padding-right: 0;
	}
	.hero-title {
		color: #ffffff;
		font-size: 56px;
		line-height: 1.07;
		width: 496px;
		margin-bottom: 36px;
	}
	
	
}